/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0d7;
}

h1{
    text-align: center;
    color: #000;
}
main{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
}

#postForm {
    margin-left: 10%;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(230,230,235);
    background: linear-gradient(90deg, rgba(230,230,235,1) 0%, rgba(173,173,179,1) 35%, rgba(7,7,7,1) 100%);

}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
}

#img {
    display: flex;
    flex-direction:row ;
    margin: 10px;
}

img {
    height: 75px;
    width: 75px;
    margin-left: 10px;
    border-radius: 13px;
}

button{
    background-color: rgb(121, 113, 113);
    color: #ffffff;
    cursor: pointer;
    padding: 0.35rem;
    border-radius: 8px  ;
    width: 100%;
    border: none;
    margin-top: 1rem;
}

button:hover {
 background-color: rgb(201, 194, 194);
}

textarea{
    resize: none;
}

#list{
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
}

.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.post h2{
    color: #d30000;
    margin-bottom: 5px;
}

.post button {
    background-color: #d30000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.post button:hover{
    background-color: #a00000;
}

.hidden {
    display: none;
}